body {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #000;
    background-image: url(/img/two-dumbbells-669580.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom: 5px;
}
.animateFilterBox {
    transform: translateX(17vw);
    transition-duration: 1.5s;
}
.navItem {
    cursor: pointer;
}
.navItem:hover {
    color: #ffffff
}
#addNewWeightBtn:hover {
    background-color: #ffffff !important;
    color: #343a40 !important;
}
#addNewWeightBtn:focus, #addNewWeightBtn:active {
    outline-color: #343a40 !important;
    background-color: #343a40 !important;
}
.activeChartBtn {
    background-color: #343a40;
    color: #ff6600;
}
.inactiveChartBtn {
    background-color: #ff6600;
    color: #ffffff;
}
.activeChartBtn:focus {
    box-shadow: none;
}