body {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #000;
    background-image: url(/img/two-dumbbells-669580.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom: 5px;
}
.fa-dumbbell {
    color: #ff6600;
}
nav > div {
    color: #ff6600;
}
.navItem {
    cursor: pointer;
}
.navItem > a {
    color: #ff6600;
}
.activeNavItem > a {
    color: #ffffff;
}
.navItem > a:hover {
    color: #ffffff;
    text-decoration: none;
}
#monthBtns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.month {
    width: 7%;
    background-color: #ff6600;
    color: #343a40;
    font-weight: bolder;
    border: 1px solid #343a40;
    border-radius: 0px 0px 5px 5px !important;
}
.activeMonth {
    color: #ff6600;
    background-color: #343a40;
}
.month:focus {
    box-shadow: none;
}
.month:hover {
    color: #ff6600;
    background-color: #343a40;
}
#daysContainer {
    width: 30%;
    min-height: 20vh;
    margin-left: 8% !important;
}
.dayBtn {
    width: 12%;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #343a40;
    margin: 2px;
    background-color: #ff6600;
    color: #343a40;
    float: left;
    font-weight: bolder;
    cursor: pointer;
}
.dayBtn:hover {
    color: #ff6600;
    background-color: #343a40;
}
#daysDataContainer {
    display: none;
    min-height: 30vh;
    width: 50%;
    margin-right: 8%;
    padding: 5px 0;
}
#daysDataContainer > table {
    width: 100%;
    border: 2px solid black;
}
tr {
    border-bottom: 2px solid black;
}
th {
    width: 15%;
    background-color: #ff6600;
}
td {
    background-color: #343a40;
}
th, td {
    border-right: 2px solid black;
}
input[type=number] {
    background-color: #343a40;
    color: #ff6600;
    font-weight: bolder;
    border: none;
    width: 50%;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
#editBtn, #saveBtn, #deleteBtn {
    width: 100px;
}
.inactiveBtn {
    filter: brightness(50%);
}